<!-- ---page Contenet start -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Workflows</h1>
          
          
                     
                 <div class="swatches-col">
		     <a href="#view3">  <div  class="pallete-item">
			      <dl class="palette palette-turquoise">
                <dt>Collateral</dt>
                <dd></dd>
              </dl>
              <dl class="palette palette-green-sea">
                <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
              </dl>
		      </div>
		      </a>
		      <div class="pallete-item">
			      <dl class="palette palette-emerald">
              <dt>AFS</dt>
              
            </dl>
            <dl class="palette palette-nephritis">
              <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		      <div class="pallete-item">
			      <dl class="palette palette-peter-river">
              <dt>Perfection</dt>
              
            </dl>
            <dl class="palette palette-belize-hole">
              <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		      <div class="pallete-item">
			      <dl class="palette palette-amethyst">
              <dt>Disbursement</dt>
              
            </dl>
            <dl class="palette palette-wisteria">
             <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		      <div class="pallete-item">
			      <dl class="palette palette-wet-asphalt">
              <dt>Collection</dt>
              
            </dl>
            <dl class="palette palette-midnight-blue">
              <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		      <div class="pallete-item">
			      <dl class="palette palette-sun-flower">
              <dt>Documentation</dt>
              
            </dl>
            <dl class="palette palette-orange">
              <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		      <div class="pallete-item">
			      <dl class="palette palette-carrot">
              <dt>Flood</dt>
              
            </dl>
            <dl class="palette palette-pumpkin">
              <dt>3 New Tasks</dt>
                <dd>4 Group Tasks</dd>
            </dl>
		      </div>
		  
		    
		      
	      </div>

          
        </div>
        <!-- ---page Contenet end -->